Package: pakmaster
Version: 1.0
Architecture: armhf
Maintainer: Alexander Krefting <kakrefting@gmail.com>
Installed-Size: 13
Depends: python3
Section: utils
Priority: optional
Description: Kurze Beschreibung des Pakets
 Lange Beschreibung des Pakets, die
 über mehrere Zeilen gehen kann.
